:root {
  --bg: rgb(41, 45, 62);
  --text-color: white;
  --spacing: 2rem;

  --sidebar-spacing: 0.5em;
  --sidebar-transition: 0.5s;
  --sidebar-bg: rgb(27, 30, 43);
  --sidebar-text-color: #aaa;
  --sidebar-glow-color: white;
  --sidebar-glow-size: 7px;

  --sidebar-divider-bg: black;

  --panel-width: 300px;
  --panel-horizontal-padding: 1rem;
  --panel-vertical-padding: 0.5rem;

  --panel-icon-color: #aaa;
  --panel-text-color: #b4b4b4;

  --brush-option-spacing: 0.5rem;

  --color-picker-border-radius: 0.3rem;
}
